@import '_media';

$primary-color: #0d6efd;
$default-color: #fff;
$black-color: #000;
$gray-color: #616161;
$orange-color: #FFA500;
$purple-color: #7F00FF;

a {text-decoration: none;}
  
body {
    display: flex;
    justify-content: center;
    background-color: $default-color;
}

//header
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: $default-color;

    .fusion {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        >:first-child {
            display: flex;
            flex-direction: row;
            p {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }
        .header-logo {
            margin: 10px 10px 0 50px;
            width: 50px;
        }

        .search {
            display: flex;
            align-items: center;
            width: 70%;
        }

        input {
            width: 500px;
            height: 40px;
            border-radius: 20px;
            border: 1px solid $black-color;
        }

        .search-icon {
            margin-left: 10px;
            width: 28px;
            height: 28px;
            padding: 6px;
            color: $default-color;
            border-radius: 25px;
            cursor: pointer;
            background-color: $gray-color;
        }
    }
}

// navigations bars
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: padding 0.4s;

    @media (max-width: 2200px) and (min-width: 768px) {
        nav {
            position: fixed;
            top: 60px;
            left: 0;
            width: 100%;
            background-color: rgba($color: $black-color, $alpha: 0.4);
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                margin: 10px;
                list-style: none;
                li {
                    margin: 10px 20px;
                    a {
                        text-decoration: none;
                        color: rgba($color: $default-color, $alpha: 0.8);
                    }
                    &:hover {
                        // width: 90px;
                        // height: 40px;
                        // background-color: rgba($color: $black-color, $alpha: 0.3);
                        // border-radius: 7px 0px;
                        font-size: x-large;
                    }
                }
            }
        }

        // nav scrollbar
        .nav.scrolled {
            display: none;
            overflow-y: scroll;
            overflow-x: hidden;
            width: 100%;
            height: 40px;
        }
        
        .menu-sm {
            display: none !important;
        }

        .login {
            position: fixed;
            top: 0;
            right: 0;
            margin: 80px 50px 0 20px;
            a {
                margin: 5px;
                padding: 10px 8px;
                background-color: rgba($color: $black-color, $alpha: 0.2);
                color: rgba($color: $default-color, $alpha: 0.8);
                border-radius: 30px;
                border: 2px solid rgba($color: $black-color, $alpha: 0.3);
            }
            .login-link {
                margin-right: 10px;
            }
        }
    }
} //end navigation

// smartphone navigation
@include mediaSm {
    nav, .login {
        display: none;
    }

    .nav .scrolled {
        display: none;
    }

    .body {
        margin-top: 50px;
        :first-child {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 20px;
            align-items: center;
            justify-content: center;
        }
        .recru-lists {
            .first {
                margin-left: 60px;
                margin-right: 0;
            }
            .image {
                .img {
                    width: 500px;
                    border-radius: 5px;
                    box-shadow: 1px 1px 2px rgba($color: $black-color, $alpha: 0.3);
                }
            }
        }
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: $default-color;
    
        .fusion {
            .header-logo {
                margin: 9px;
            }
            .search {
                padding-right: 0;
            }
            input {
                width: 200px;
                height: 30px;
                margin-bottom: 10px;
                border-radius: 20px;
                border: 1px solid $black-color;
            }
    
            .search-icon {
                margin-left: 10px;
                width: 20px;
                height: 20px;
                padding: 7px;
                margin-bottom: 10px;
                color: $default-color;
                border-radius: 20px;
                cursor: pointer;
                background-color: $gray-color;
            }
        }
    } // fin header
    
    .menu-sm {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba($color: $primary-color, $alpha: 0.1);
        z-index: 1;

        .menu-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 1%;
            right: 2%;
            width: 7%;
            height: 7%;
            
            .menu-icon {
                font-size: 30px;
                cursor: pointer;
            }
        }

        hr {
            width: 100%;
            margin: 5px;
            height: 0.1px solid transparent;
        }
        
        .block {
            display: block;
            position: absolute;
            margin-top: 0;
            margin-right: 0;
            ul {
                display: flex;
                flex-direction: column;
                align-items: start;
                list-style: none;
                position: fixed;
                top: 60px;
                right: 0;
                height: 100%;
                padding: 0 8px;
                margin: 0 30px;
                background-color: $default-color;
                animation: slide 0.5s ease-in-out;
                li {
                    margin: 10px 30px;
                    font-size: medium;
                    a{
                        color: $black-color;
                    }
                    .nav-icon {
                        margin-right: 10px;
                    }
                }
            }
            @keyframes slide {
                100% {
                  transform: translateX(0px);
                }
                0% {
                  transform: translateX(100px);
                }
            }
        }
        .hidden {
            display: none;
        }
    }

}// end smartphone

// body
@media (max-width: 2200px) and (min-width: 768px) {
    .body {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        z-index: -1;
        
        .recru-lists {
            display: flex;
            flex-direction: row;
            margin: 5px 0;
            .image {
                >.img {
                    width: 400px;
                    border-radius: 5px;
                    box-shadow: 3px 3px 2px 0px rgba($color: $black-color, $alpha: 0.5);
                }
            }

            .description {
                display: flex;
                flex-direction: column;
                align-items: start;
                margin: 5px;
                background: linear-gradient(to right, $default-color, #f7f3f3);
                border: 1px solid $default-color;
                border-radius: 8px;
                box-shadow: 0.5px 0.5px 0.5px 0.5px rgba($color: $black-color, $alpha: 0.2);
            }
        }
    }
}

// footer
footer {
    display: flex;
    align-items: end;
    justify-content: space-between;
    left: 0;
    right: 0;
    margin-top: 30px;
    padding: 80px;
    background-color: $default-color;
    flex-direction: row;
    a {
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 1;
        .icons {
            width: 30px;
            height: 30px;
            margin: 5px;
        }
    }   
    @include mediaSm {
        margin: 0;
        padding: 0;
        display: flex;
    }
}
.hr {
    width: 100%;
    height: 1px solid $black-color;
    margin-top: 8%;
}