@import '_media';

$primary-color: #0d6efd;
$default-color: #fff;
$black-color: #000;
$gray-color: #616161;
$orange-color: #FFA500;
$purple-color: #7F00FF;

.scroll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    margin: 40px auto;
    background-color: white;
    overflow-x: auto;
    overflow-y: hidden;

    .scrolling {
        display: flex;
        flex-direction: column;
        width: 240px;
        height: auto;
        padding: 0;
        margin-left: 20px;
        border: 1px solid $gray-color;
        border-radius: 10px;
        box-shadow: 1px 1px 0px 1px rgba($color: $gray-color, $alpha: 0.4);
        .img {
            border-radius: 10px 10px 0 0;
            width: 240px;
            height: 160px;
        }
    }
}

@include mediaSm {
    .scroll {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
        margin: 20px auto;
        background-color: white;
        overflow-x: auto;
        overflow-y: hidden;
    
        .scrolling {
            display: flex;
            flex-direction: column;
            width: 200px;
            height: auto;
            padding: 0;
            margin-left: 20px;
            border: 1px solid black;
            border-radius: 10px;
            .img {
                border-radius: 10px 10px 0 0;
                width: 200px;
            }
        }
        .child {
            display: none;
            justify-content: center;
        }
    }
}