:root {
    --primary-color: #f0f0f3;
    --dark-color: rgba(174, 174, 192, 0.4);
    --light-color: #fff;
    --bleu-color: rgb(0, 0, 255, 0.5);
    --bluelight-color: rgb(37, 104, 230, 0.9);
}

.contenair {

    width: 360px;
    height: 500px;
    box-shadow: -10px -10px 30px var(--light-color), 10px 10px 30px var(--dark-color);
}

#password,
#email {
    width: 300px;
    height: 50px;
    background-color: var(--primary-color);
    border: transparent solid 4px;
    box-shadow: inset -5px -5px 2px -3px var(--light-color), inset 5px 5px 2px -3px var(--dark-color);

}

#email:hover,
#password:hover {
    box-shadow: inset -5px -5px 2px -3px var(--light-color), inset 5px 5px 2px -3px var(--dark-color);
}

.forgot {
    text-align: center;
    font-size: 12px;
    color: blue;
}

.btn {
    background-color: rgba(6, 155, 241, 0.8);
    width: 200px;
    border: transparent solid 1px;
}

.btn:hover {
    color: #fff;
    background-color: rgba(0, 204, 255, 0.884);
    box-shadow: inset -5px -5px 2px -3px rgba(0, 243, 243, 0.959), inset 5px 5px 2px -3px rgba(13, 85, 75, 0.281);
}