:root{
    --primary-color:#f0f0f3;
    --dark-color:rgba(174,174,192,0.4);
    --light-color:#fff;
    --bleu-color:rgb(0, 0, 255,0.5);
    --bluelight-color:rgb(37, 104, 230,0.9);
    }
    body{
        background-color: var(--primary-color);
    }
    #contenair{
        width: 360px;
        height: 550px;
        box-shadow: -10px -10px 30px var(--light-color), 10px 10px 30px var(--dark-color);
    }
    input{
        width:300px;
        height: 50px;
        background-color: var(--primary-color);
        border: transparent solid 4px;
        box-shadow:inset -10px -10px 10px var(--light-color),inset 10px 10px 10px var(--dark-color);
    }
   
    #btn{
        background-color: rgba(6, 155, 241, 0.8);
        width: 200px;
        border: transparent solid 4px;
        /*box-shadow:-10px -10px 10px var(--light-color), 10px 10px 50px var(--dark-color);*/
    
    }
    #btn:hover{
        color: blanchedalmond;
        background-color: rgba(0, 204, 255, 0.884);
        box-shadow:-10px -10px 30px var(--light-color),10px 10px 30px var(--dark-color);
    }